body {
  text-align: center;
  margin-top: 50px;
  font-family: Arial, sans-serif;
}

.box {
  font-size: 100px;
  border: 2px solid black;
  padding: 40px;
  display: inline-block;
  margin: 30px;
  min-width: 150px;
  transition: all 0.2s ease;
}

h1 {
  margin-bottom: 10px;
}

#startScreen {
  margin-bottom: 20px;
}

.correct {
  color: green;
}

.wrong {
  color: red;
}